# Copy this to .env.local for local development

NEXT_PUBLIC_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
NEXT_PUBLIC_RPC_URL="https://soroban-testnet.stellar.org"
NEXT_PUBLIC_HORIZON_URL="https://horizon-testnet.stellar.org"

# Deployed contract addresses (Stellar Testnet)
NEXT_PUBLIC_CONTRACT_TOKEN=CAAYCV3BCFUA7UZ37XDFU5BMWNSF22JEESLB7CLARELHA22FHE7HA5MN
NEXT_PUBLIC_CONTRACT_REWARDS=CBI5EDHB5TK724BQKTEMIFL6I4DJFSAMTFEOBDBUCJMYQH77G7XLM4RV
NEXT_PUBLIC_CONTRACT_STAKING=CCG6HAPL56CUOC4OY6SBNSY3KAOKK4SQIR6KWYW4KASFK52L3KGRG5TT

# XLM Stellar Asset Contract address on testnet
NEXT_PUBLIC_XLM_SAC=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC

# APY in basis points (1200 = 12%)
NEXT_PUBLIC_APY_BPS=1200
